{% extends 'base/base_blanknav.html' %}

{% block siteTitle %}
QF-DROM
{% endblock %}

{% block navTitle %}
QF-DROM
{% endblock %}

{% block title %}
✈️ Welcome
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="alert alert-primary" role="alert">
      Please select your event from the list below.
    </div>
    <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Placeholder Link</a>
    </ul>
  </div>

{% if user.is_staff %}
<br>
<hr>
<br>

<div class="container-fluid">
  <ul class="list-group">
    <a href="/database/tournaments/tournament/add/" class="list-group-item list-group-item-action">➕ Create New Tournament</a>
    <a href="{% url 'admin:index' %}" target="_blank" class="list-group-item list-group-item-action">📝 Edit Database</a>
  </ul>
</div>
<br>

<div class="container-fluid">
  <ul class="list-group">
    <a href="javascript:{document.getElementById('logout').submit()}" class="list-group-item list-group-item-action">🔒Logout ({{user.username}})</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <input type="hidden"/>
    </form>
  </ul>
</div>

{% else %}

<br>
<div class="container-fluid">
  <ul class="list-group">
    <a href="{% url 'login' %}" class="list-group-item list-group-item-action">🔐 Login</a>
  </ul>
</div>

{% endif %}




{% endblock %}
