{% extends 'base/base_admin.html' %}

{% block siteTitle %}
QF-DROM
{% endblock %}

{% block navTitle %}
QF-DROM
{% endblock %}

{% block subNav %}
{% endblock %}

{% block title %}
✈️ {{flight.name}}  <small class="text-secondary"><small>{{flight.date}}</small></small>
{% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col">
      <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          📥 Import Passengers
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          📥 Import Reaccommodations
        </a>
      </ul>
      <br>
      <ul class="list-group">
        <a href="{% url 'passengers' flight.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          🙋‍ View Passengers
        </a>

        <a href="{% url 'reaccom' flight.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          ✈️ View Reaccomodations
        </a>
      </ul>
    </div>
  </div>

</div>

  {% endblock %}
