{% extends 'base/base_blank.html' %}

{% block footer %}

<footer class="footer">
  <div class="container-fluid" style="background-color:#333">
    <div class="row align-items-center" style="color:#FFFFFF">
      <div class="col">
        <br>
        This is a prototype of the <b>Disruption Recovery Optimisation Model</b>, created for the University of Sydney's Industry & Community Project into Minimising Customer Disruption.
        <br><small>This system is designed and developed by Vladimir Grujic, Vaishnavi Kala, Valentina Lu, Max Nguyen and Viran Weerasekera (Group 2, ICPU1065-001, Semester 1 2020).</small>
        <br>
        <br>
      </div>

    </div>

  </div>
</footer>

{% endblock %}
