{% extends 'base/base_blanknav.html' %}

{% block navItems %}

{% if user.is_authenticated %}
<li class="nav-item">

  {% if user.is_staff %}
  <a href="{% url 'flight_dashboard' flight.id %}"><button type="button" class="btn btn-warning">Admin Area</button></a>
  {% endif %}

 </li>
{% endif %}

<li class="nav-item">
 <a class="nav-link" href="#"> </a>
</li>

<li class="nav-item">
<a class="nav-link" href="{% url 'sample_flight_home' flight.id %}">Home</a>
</li>

{% block homeButton %}
{% endblock %}

{% endblock %}
