{% extends 'base/base_blanknav.html' %}

{% block siteTitle %}
QF-DROM
{% endblock %}

{% block navTitle %}
QF-DROM
{% endblock %}

{% block title %}
📝 Welcome, {{passenger.name}}

{% endblock %}

{% block content %}

{% load tz %}

<div class="container-fluid">
  <div class="alert alert-danger" role="alert">
    Your flight, {{passenger.flight.name}} on {{passenger.flight.date}} has been significantly disrupted.
    To provide the best recovery option for you, please fill out this form indicating your preferences.
  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <b>Are you travelling with small children?</b>
        <div class="input-group mb-3">
          <select class="form-control" name="username" required>
            <option>Yes</option>
            <option selected>No</option>
          </select>
        </div>

        <b>What is your first preference for reaccommodation?</b>
        <div class="input-group mb-3">
          <select class="form-control" name="username" required>
            <option selected>Stay in Los Angeles overnight and rebook onto the next <b>direct</b> flight to Sydney</option>
            <option>Stay in the airport and rebook onto the next <b>direct</b> flight to Sydney (departing in 12 hours)</option>
            <option>Rebook onto the next flight to Sydney <b>via Melbourne</b> (departing in 4 hours)</option>
            <option>Cancel my travel</option>
          </select>
        </div>

        <b>What is your second preference for reaccommodation?</b>
        <div class="input-group mb-3">
          <select class="form-control" name="username" required>
            <option>Stay in Los Angeles overnight and rebook onto the next <b>direct</b> flight to Sydney</option>
            <option selected>Stay in the airport and rebook onto the next <b>direct</b> flight to Sydney (departing in 12 hours)</option>
            <option>Rebook onto the next flight to Sydney <b>via Melbourne</b> (departing in 4 hours)</option>
            <option>Cancel my travel</option>
          </select>
        </div>

        <b>What is your third preference for reaccommodation?</b>
        <div class="input-group mb-3">
          <select class="form-control" name="username" required>
            <option>Stay in Los Angeles overnight and rebook onto the next <b>direct</b> flight to Sydney</option>
            <option>Stay in the airport and rebook onto the next <b>direct</b> flight to Sydney (departing in 12 hours)</option>
            <option selected>Rebook onto the next flight to Sydney <b>via Melbourne</b> (departing in 4 hours)</option>
            <option>Cancel my travel</option>
          </select>
        </div>

        <b>Is there anything else you'd like to add?</b>
        <div class="input-group mb-3">
          <textarea class="form-control" rows="10" name="data"></textarea>

        </div>

        <input class="btn btn-primary btn-block" type="submit" value="Submit"/>
      </form>
    </div>
  </div>
</div>

<br>

<div class="container-fluid">
  <ul class="list-group">
    <a href="{% url 'start' %}" class="list-group-item list-group-item-action">🏠 Home</a>
  </ul>
</div>




{% endblock %}
